html,
body,
#root {
  height: 100%;
}

button {
  box-shadow: none !important;
}

.container {
  width: 1580px !important;
  max-width: 1920px !important;
}

.video-wrapper {
  width: 1280px;
  height: 720px;
  position: relative;
}
